* {
    font-size: large;
    color: rgb(1, 5, 5);
}

#hero{
    width: 500px;
    height: 100px;
    padding: 20px;
    margin: 50px;
    background-color: azure;
    color: rgb(49, 61, 49);
    overflow:scroll;

    display: flex;
    flex-direction: row;
}

#featured{
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.card{
    width: 500px;
    display: flex;
    gap: 2px;
    align-items:baseline;
    flex-direction: column;
    background-color:#411801bc
    
}
